@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans+Condensed:wght@300&family=Poppins:wght@200&family=Roboto:wght@500&family=Rowdies&display=swap");

.project-component-home {
  /* margin-bottom: 50px; */
  /* background-color: #141820; */
  background-color: rgba(18, 21, 33, 0.9);

  position: relative;
  /* top:-90px; */
  z-index: 100;
  padding-top: 30px;
  padding-bottom: 80px;
  height: auto;
}

.home-project-moto {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  padding-top: 40px;
  color: #57b8ff;
  letter-spacing: 0.5em;
}

.home-project-seperator {
  display: flex;
  margin: auto;
}

.home-project-title-our-project {
  font-family: "Rowdies", cursive;
  font-size: 2.5rem;
  font-family: SansationBold;
  padding: 20px;
}

.home-project-title-heading {
  font-family: "Rowdies", cursive;
  font-size: 1.5rem;
  padding: 10px 30px;
  color: #719fb0;
}

.home-project-section {
  text-align: center;
}

.home-project-heading{
  font-family: "Rowdies", cursive;
  font-size: 2.5rem;
}
.home-project-line{
  text-align: center;
  /* left:38.7%; */
  height: 7px;
  width: 200px;
  background-color: aliceblue;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 10px;
}

.seperator-decoration-line1{
  height: 3px;
  width: 31.3%;
  color: white;
  z-index: 30000;
  margin: auto;
  background-color: azure;
  text-align: left;
  margin-right: 0;
}
.seperator-decoration-line2 {
  height: 3px;
  width: 31.3%;
  color: white;
  z-index: 30000;
  margin: auto;
  background-color: azure;
  text-align: left;
  margin-left: 0;
}

.home-project-decoration-line {
  height: 2px;
  background-color: white;
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.home-project-header {
  z-index: 100;
  text-align: center;
  margin-bottom: 20px;
}

.home-projects-container {
  display: flex;
  text-align: center;
  margin: auto;
  flex-direction: row;
  margin: 0 50px;
  height: auto;
}

/* @media (max-width: 800px) {
  .project-container {
    flex-direction: column;
  }
} */

.home-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 20px;
}
.home-individual-project-container {
  text-align: center;
  background-color: #17202e;
  z-index: 2;
  padding: 10px;
  margin: 10px;
  margin: auto;
  /* border: 2px solid; */
  width: 28%;
  /* height: 600px; */
  /* border-color: aliceblue; */
  border-radius: 20px;
}
.home-individual-project-container:hover{
  background-color: #121623;
  box-shadow: 0px 0px 10px 0px #3869a0;
}

.projectline {
  height: 2px;
  background-color: white;
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

/* .view-more-container {
  position: relative;
  text-align: left;
  width: 150px;
  text-align: center;
}
.youtube-link-container {
  position: relative;
  text-align: right;
  left: 20px;
  text-align: center;
  margin: auto;
}
.link-active {
  text-decoration: none;
} */

.view-more-container,
.youtube-link-container {
  position: relative;
  text-align: left;
  width: 150px;
  text-align: center;
}
/* .project-card-btn {
} */
.home-project-card-btn {
  text-decoration: none;
  margin-left: auto;
  display: block;
  /* padding-right:10px ; */
  font-size: 0.8rem;
  text-align: center;
  color: #719fb0;
  font-weight: bold;
  /* background-color: #17202e; */
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
  /* margin-right: 20px; */
}
.home-project-card-btn span {
  transition: 0.2s;
}
.home-project-card-btn:hover span {
  background-color: #17202e;
}
.home-project-card-btn:active span {
  margin-left: 1rem;
  background: none;
}

.project-heading2 {
  font-size: 1.4rem;
  color: #b2daf1;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.home-project-title {
  font-family: "Rowdies", cursive;
  font-size: 1.5rem;
  color: #b2daf1;
  padding: 10px;
}

.home-project-description {
  color: white;
  padding: 10px 20px;
}

.home-project-image {
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  width: 92%;
  height: fit-content;
}

@media (max-width: 767.98px) {
  .home-projects-container {
    flex-direction: column;
    margin: 0 0;
  }
  .home-individual-project-container {
    margin: 10px;
    width: auto;
  }
  .home-project-image {
    width: 60%;
  }
  .home-project-title {
    font-size: 1rem;
  }
  .home-project-description {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 700px) {
  .home-project-moto {
    font-size: 0.8rem;
    padding-top: 10px;
    letter-spacing: 0.2em;
  }
  .project-component-home {
    padding-bottom: 30px;
  }
  .home-project-header {
    margin-bottom: 0;
  }
  .home-project-title {
    font-size: 1.7rem;
    color: white;
    padding: 20px;
  }
  .seperator-decoration-line1 {
    width: 100%;
    height: 2.8px;
  }
  .seperator-decoration-line2 {
    width: 100%;
    height: 2.8px;
  }

  .home-individual-project-container {
    margin: 20px 40px;
  }
  .home-project-image {
    width: 100%;
  }

  .home-project-title-our-project {
    font-size: 1.7rem;
    white-space: nowrap;
  }

  .home-project-title-heading {
    padding: 10px 0px;
    font-size: 1.4rem;
  }
}

.project-button {
  background-color: #17202e;
  border: none;
  color: #57b8ff;
  transition: all 0.3s ease;
  /* padding: 5px 10px; */
  border-radius: 20px;
  cursor: pointer;
}
.arrow {
  opacity: 0;
  transition: all 0.3s ease;
  margin-left: 8px;
}
.project-button:hover {
  color: #ffffff;
  background-color: #0e131b;
  box-shadow: 0 0 0 9px #0e131b;
}
.project-button:hover .arrow {
  opacity: 1;
}
