.dep-head-title,.dep-head-des{
    color: white;
}

.prog-img,.elec-img,.mech-img{
    height: 250px;
}

.department-header{
    display: flex;
    width: 80%;
    margin: auto;
}
.dep-head-title{
    font-size: 3rem;
    margin-bottom: 3rem;
}

.dep-head-des{
    margin-bottom: 4rem;
}

@media screen and (max-width:800px) {
    .prog-img,.elec-img,.mech-img{
        height: 180px;
    }
    .department-header{
        flex-direction: column;
        align-items: center;
    }
}