
/* ADD SPECIFIC FOR MECHANICAL DEPARTMENT CSS HERE */
/* 
.mechdepimg {
margin: auto;
height: 500px;
position: relative;
top: -4rem;
width: auto;
padding-left: 4rem ;
} */

.department-mechanical-image{
    margin: auto;
    height: 500px;
    position: relative;
    top: -4rem;
    width: auto;
    padding-left: 4rem ;
}

/* 
.depmechfirstbox {
    display: flex;
    margin: auto;
    text-align: center;
    padding-top: 10rem;
    z-index: 1;
    position: relative;
    background-color: #565759;

  } */
.department-mechanical-hero-container{
    display: flex;
    margin: auto;
    text-align: center;
    padding-top: 10rem;
    z-index: 1;
    position: relative;
    background-color: #565759;
}


/* COMMON CSS */

.dep-head-title,
.dep-head-des {
  color: white;
}

.prog-img,
.elec-img,
.mech-img {
  height: 250px;
}

.department-page{
  background-color: rgba(18, 21, 33, 0.9);

    z-index: 1;
    position: relative;
    margin-top: -5rem;
}

.department-hero-container {
  display: flex;
  margin: auto;
  text-align: center;
  padding-top: 10rem;
  z-index: 1;
  position: relative;
  background-color: #1B3955;

}


.department-text-container {
  width: 50%;
  text-align: left;
  padding-left: 11rem;
}

.department-image-container {
  width: 50%;
}
.department-title {
    font-family: "Rowdies", cursive;
    font-size: 2.5rem;
    color: #57b8ff;
    padding-bottom: 2rem;
    padding-top: 40px;
    width: 700px;
}
.department-description {
  color: white;
  width: 500px;
}

.department-image {
    margin: auto;
    height: 400px;
    position: relative;
    top: 0rem;
    width: auto;
    padding-left: 7rem ;
}

.department-header-container{
    z-index: 100;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .department-moto {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    padding-top: 40px;
    color: #57b8ff;
    letter-spacing: 0.5em;
  }
  .department-name {
    font-family: "Rowdies", cursive;
    font-size: 2.5rem;
    padding: 20px;
  }
  .seperator {
    display: flex;
    margin: auto;
  }
  
  .depline2 {
    height: 3px;
    width: 28%;
    color: white;
    z-index: 30000;
    margin: auto;
    background-color: azure;
    text-align: left;
    margin-left: 0;
  }
  
  .depline1 {
    height: 3px;
    width: 28%;
    color: white;
    z-index: 30000;
    margin: auto;
    background-color: azure;
    text-align: left;
    margin-right: 0;
  }
  
  .department-members-container{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    flex-wrap: wrap;
    /* margin: 5rem 0 10rem 0; */
    z-index: 6;
    padding-bottom: 5rem;
  }





@media screen and (max-width: 800px) {
  .prog-img,
  .elec-img,
  .mech-img {
    height: 180px;
  }
}



/*//////////////  Profile Card  ///////////////*/
.profile-card {
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
  background-color: #17202e;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  flex: 0 0 22%;
  margin: 1rem 1rem;
  height: 380px;
  max-width: 50%;
  /* z-index: 6; */
}
.profile-card:hover {
  background-color: #2760a0;
  box-shadow: 0px 0px 10px 0px #3869a0;
  z-index: 3;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  max-width: 50%;
}

.profile-card .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  height: 100%;
  width: 100%;
  /* margin: 2rem 0; */
  z-index: 6;
}

.profile-card .text img {
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  position: relative;
  top: 0px;
  z-index: 6;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.profile-card .text h3 {
  color: white;
  font-size: 20px;
  font-weight: 1000;
}

.profile-card .text p {
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 20px 0 10px 0;
}

.profile-card .links {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.profile-card .links .ul {
  position: relative;
  display: flex;
}

.profile-card .links .li {
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}

.profile-card .links .fa {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}

.profile-card .links .fa:hover {
  background: #03a9f4;
  color: #fff;
}

@media screen and (max-width:1200px)  and (min-width:800px) {
  .profile-card .text img{
    height: 120px;
  }
  .department-container {
    width: 60%;
  }

  .profile-card {
    flex: 0 0 40%;
    height: 400px;
  }
}

@media screen and (max-width:800px) and (min-width:450px){
  .department-container {
    width:90%;
  }

  .profile-card {
    flex: 0 0 40%;
    width: 50%;
    height: 400px;
  }
}

@media screen and (max-width:700px){
.profile-card .text img{
    height: 110px;
  }

  .department-container {
    width:100%;
  }

  .profile-card{
    flex: 0 0 100%;
    height: 350px;
  }
}
