@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:wght@200&family=Rowdies&display=swap');

.name{
    font-family: 'Poppins', sans-serif;
    padding: 0.3rem;
    font-size:1.7rem;
}
.pos{
    font-family: 'Poppins', sans-serif;
    font-size:1.1rem;
    padding: 0.3rem;
}
