.tests-section-container {
  background: rgba(20, 24, 32, 0.9);
  background: rgba(20, 24, 32, 0.9);
  position: relative;
  z-index: 100;
  padding-bottom: 160px;
}
.test_container {
  /* width: 90vw; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.test_image_container {
  width: 100px;
  /* padding-right: 30px; */
  border-radius: 50%;
}
.test_img {
  object-fit: cover;
  /* height: 500px; */
  width: 100%;
  height: 100px;
  border-radius: 50%;
}
.test_content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.test_name {
  font-family: "Rowdies", cursive;
  text-align: center;
  color: #00a0ff;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 10px 0;
}

.test_description {
  white-space: normal;
  font-size: 0.9rem;
  padding: 20px 0;
  padding-bottom: 0;
}
.test_position {
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.test_btn {
  padding: 10px 15px;
  background-color: #00a0ff;
  color: white;
  border: 2px solid #00a0ff;
  transition: all 0.3s ease;

  /* border-color: #00a0ff; */
  border-radius: 5px;
  cursor: pointer;
}

.test_btn:hover {
  color: white;
  border-color: #00a0ff;
}
@media screen and (max-width: 768px) {
  .test_container {
    /* width: 90vw; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}
