.about-content-text{
    font-size: 1.1rem;
    opacity: 0.8;
}

.about-info-card{
    color: white;
    flex: 1;
    z-index: 1;
    width: 90%;
    background-color: #17202E;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

.about-card-title{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.about-content-title{
    margin-top: 1%;
    font-size: 1.8rem;
    font-weight: var(--fw-400);
    line-height: 1;
    color: #56b6fc;
    font-family: "Rowdies", cursive;
    margin-left: 20px;
}

