.about-department-grid {
  display: grid;
  gap: 2em;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 200px;
}
.about-department-link {
  text-decoration: none;
  z-index: 100;
}
.about-department-grid-box {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 1.2rem;
  border-style: solid 4px;
  border-color: #56b6fc;
  /* border-color: rgb(89, 233, 238); */
}

.team-firstbox {
  background-color: rgba(10, 25, 49, 0.8);
  position: relative;
  z-index: 2;
  margin-top: -9rem;
  padding-bottom: 80px;
}

.team-subheading {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  padding-top: 50px;
  color: #57b8ff;
  letter-spacing: 0.5em;
  /* margin-top: 13rem; */
}

.about-department {
  padding-top: 8.4rem;
  background-color: rgba(10, 25, 49, 0.8);
  /* background-color: #17202e; */
  position: relative;
  padding-bottom: 75px;
  z-index: 1;
  /* margin-bottom: 25px; */
}
.dep_para {
  /* padding-left: 10px; */
  padding-top: 10px;
  text-align: center;
}

.about-department-icon {
  margin: 0px;
  max-width: 40px;
}
.about-department-heading {
  display: inline;
  line-height: 0.1;
  position: relative;
  top: -10px;
  padding-left: 1rem;
  /* margin: 10px; */
  font-family: "Rowdies", cursive;
  font-size: 1.45rem;
  color: #56b6fc;
  font-family: SansationBold;
  white-space: nowrap;
}

.about-department-text {
  font-size: 1.1rem;
  margin-top: 0;
  color: white;
}

.about-department-grid-box {
  /* border: 2px solid #56b6fc; */
  transition: all 0.3s ease;
  /* background-color: rgb(20, 20, 20); */
  background-color: #17202e;
  text-align: left;
  padding-left: 40px;
}

.about-department-grid-box:hover {
  background-color: #17202e;
  box-shadow: 0px 0px 10px 0px #3869a0;
  z-index: 3;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  /* max-width: 50%; */
}

.about-department-grid {
  width: 93%;
  margin: 0 auto;
  margin-top: 60px;
}

.dep-link {
  background-color: #17202e;
  border: none;
  color: #57b8ff;
  transition: all 0.3s ease;
  /* padding: 5px 10px; */
  border-radius: 20px;
}
.dep-button {
  background-color: #17202e;
  border: none;
  color: #57b8ff;
  transition: all 0.3s ease;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
}

.arrow {
  opacity: 0;
  transition: all 0.3s ease;
  margin-left: 8px;
}
.dep-button:hover {
  color: #ffffff;
  background-color: #0e131b;
}
.dep-button:hover .arrow {
  opacity: 1;
}

.gallery-section {
  background: rgba(20, 20, 20, 0.9);

  position: relative;
  z-index: 100;
}

.dep-subheading {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  padding-top: 60px;
  color: #57b8ff;
  letter-spacing: 0.5em;
}

.imageheading {
  position: relative;
  top: -100px;
  /* text-align: left; */
  left: -19rem;
  z-index: 1000;
  font-family: "Rowdies", cursive;
  font-size: 2.3rem;
  color: white;
  text-shadow: 2px 2px 20px #000000;
}

.team_robo_pic {
  width: 120vw;
  text-align: center;
  z-index: 100;
  transition: transform 0.2s;
}

.team_robo_pic:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2);
}
.img1 {
  width: 70%;
  z-index: 100;
}

.about-seperator3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92.5%;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.image_main_container {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainbody_team {
  margin-top: -6rem;
  background-color: rgba(10, 25, 49, 0.8);
}

@media (max-width: 600px) {
  .about-department-heading {
    padding: 0;
    font-size: 1.4rem;
  }
  .about-department-grid-box {
    padding: 30px;
  }
  .dep_para {
    font-size: 0.8rem;
  }
  .imageheading {
    font-size: 22px;
  }
  .about-department-grid {
    grid-template-columns: auto;
  }
  .about-heading {
    font-size: 2rem;
  }
  .imageheading {
    text-align: left;
    left: 120px;
    top: -40px;
    font-size: 1rem;
  }
  .team_robo_pic {
    width: 140vw;
    padding: 20px 0;
  }

  .about-department {
    padding-top: 6.5rem;
    padding-bottom: 60px;
  }
}
