}
.about-title-line2 {
    height: 3px;
    width: 39.1%;
    color: white;
    z-index: 30000;
    margin: auto;
    background-color: azure;
    text-align: left;
    margin-left: 0;
}

.about-title-line1 {
  
}
.about-department-link{
    text-decoration: none;
}
.about-department-grid-box{


}

.about-subheading2{
    margin-top: 0;
}

