:root {
  --clr-primary-400: 263 55% 52%;
  --clr-secondary-400: 217 19% 35%;
  --clr-secondary-500: 219 29% 14%;
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 210 46% 95%;
  --clr-neutral-300: 0 0% 81%;

  --ff-primary: "Barlow Semi Condensed", sans-serif;

  --fw-400: 500;
  --fw-700: 600;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
}


/* Box sizing rules */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */



/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

/* Set core root defaults */


/* Set core body defaults */

/* body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
} */

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* img,
picture {
  max-width: 100%;
  display: block;
} */

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* body {
  margin:auto;
  display: grid;
  place-content: center;
  min-height: 100vh;

  font-family: var(--ff-primary);
  font-weight: var(--fw-400);

  background-color: black;
}

 */

/* utilities */
.flex {
  display: flex;
  /* gap: var(--gap, 1rem); */
}


.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.bg-primary-400 { 
  background: hsl(var(--clr-primary-400));
}
.bg-secondary-400 {
  background: linear-gradient(#292828,black);
}
.bg-secondary-500 {
  background: hsl(var(--clr-secondary-500));
}

.bg-neutral-100 {
  background: hsl(var(--clr-neutral-100));
}

.bg-black{
  background: black;
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.text-secondary-400 {
  color: hsl(var(--clr-secondary-400));
}
.border-primary-400 {
  border: 3px solid #38eaf7;
}

/* components */
.grid-col-span-2{
    grid-row:span 2
}
.aboutmain{
  display: grid;
  gap:2em;
  padding-block: 2rem;
  width: 85%;
  margin-inline: auto;
  z-index: 1;
}

.testimonial-grid {
  display:grid;
  column-gap: 2em;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
}

.row2{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
}


.testimonial {
  font-size: var(--fs-400);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
  z-index: 1;

}

.testimonial.quote {
  background-repeat: no-repeat;
  background-position: top right 10%;
  z-index: 1;
}

.testimonial img {
  aspect-ratio: 1;
}

.testimonial .name {
  margin-top: 1%;
  font-size: 35px;
  font-weight: var(--fw-400);
  line-height: 1;
}
.position{
  font-size: 25px;
  opacity: 0.5;
}
.subscript{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 30px;
  opacity: 0.5;
}


.testimonial .position {
  font-size: var(--fs-300);
}

.testimonial > p:first-of-type {
  font-size: var(--fs-500);
  line-height: 1.2;
}

.testimonial > p:last-of-type {
  opacity: 0.7;
}

.about-title{
margin-top: 5rem;
/* padding-left: 15px; */
font-size: 3.4rem;
color:white;
text-align: center;
line-height: 1.5cm;
font-weight: var(--fw-400);
z-index: 111;

}
.about-text{
text-align: center;
font-size: 1.8rem;
font-weight: var(--fw-400);
line-height: 1;
padding: 10px 20px 20px 20px;
color: white;
z-index: 1;

}


.dept-name{
  display: inline;
  font-size: 1.4rem;
  line-height: 0.1;
  /* position: relative; */
  top:-13px;
  margin:10px;
  /* padding-left: 10px; */
  font-weight: bold;
}

.title-div{
  padding-left:16px;
}

.dept-title{
  margin-top: 8vh;
  padding-left: 20px;
  font-size: 3.5rem;
  color:white;
  text-align: center;
  font-weight: var(--fw-400);
}
.dept-grid{
  display: grid;
  gap:2em;
  /* padding-block: 2rem; */
  width: 100%;
  margin-inline: auto;
  grid-template-columns: 1fr 1fr 1fr ;
    
}
.dept-grid-box{
  /* block-size: 300px; */
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 1.2rem;
  border-style: solid 4px;
  border-color: rgb(89, 233, 238);
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

 
.dept-content{
  font-size: 1.1rem;
  /* padding: 15px 15px 15px 15px; */
}
.dept-img{
  margin: 0px;
  max-width: 40px;
}
.dept-grid-box:hover {
  transform: translateY(-0.9%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  border-color: white;
}

.dept{
  margin-bottom: 7rem;
  margin-top: 5rem;
  width: 100%;
}

@media(max-width: 700px)
{
    .testimonial-grid{
       display: flex;
       flex-wrap: wrap;
    }
    .testi{
      width: 100%;
      word-wrap: break-word;
    }
    .testimonial{
      margin-top: 10px;
    }
    .row2{
      display: flex;
       flex-wrap: wrap;
      }
      .dept-grid{
        display: flex;
         flex-wrap: wrap;  
    }
}

@media(max-width: 600px)
{

  .testi2{
    width: 52%;
  }
}
