.landing-slide {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
  margin-bottom: 13.6rem;
  padding: 0 8rem;
}

.draic-logo {
  height: 35vh;
}

.draic-logo:hover {
  animation: logoAnimHover 0.8s both;
}

.text {
  font-weight: 500;
  font-size: 5rem;
  width: 50%;
  font-family: "Rowdies", cursive;
  /* font-family: "orbitron"; */
}

@media (max-width: 1000px) {
  .draic-logo {
    height: 25vh;
  }
  .text {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .landing-slide {
    padding: 0;
    flex-direction: column-reverse;
    margin-bottom: 9rem;
    margin-top: 9rem;
  }
  .draic-logo {
    height: 15vh;
  }
  .text {
    font-size: 2.5rem;
    margin: 40px 0px;
    width: 70%;
    /* margin-top: 20px; */
    text-align: center;
  }
}

@keyframes logoAnimHover {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
