.landing-slide {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-bottom: 9rem;
  padding: 0 8rem;
}

.draic-logo {
  height: 35vh;
}

/* .draic-logo:hover {
  /* animation: logoAnimHover 0.8s both; 
} */

.text {
  font-weight: 500;
  font-size: 5rem;
  width: 50%;
  font-family: "Rowdies", cursive;
  font-family: SansationBold;
  /* font-family: "orbitron"; */
}

@media (max-width: 1000px) {
  .draic-logo {
    height: 25vh;
  }
  .text {
    font-size: 3rem;
  }
  .svg {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .landing-slide {
    padding: 0;
    flex-direction: column-reverse;
    margin-bottom: 3rem;
    margin-top: -4rem;
  }
  .draic-logo {
    height: 15vh;
  }
  .svg {
    width: 400px;
    transform: scale(0.75);
  }
  .text {
    font-size: 2.5rem;
    /* margin: 40px 0px; */
    margin-bottom: 80px;
    width: 70%;
    /* margin-top: 20px; */
    text-align: center;
  }
  .animation {
    height: 435px;
  }
}

@keyframes logoAnimHover {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

/* .SVG animations */
.cls-1 {
  fill: rgba(240, 248, 255, 0);
}
.cls-2 {
  fill: white;
}
.svg {
  width: 480px;
}
.animation:hover #main_head,
.animation:hover #eye2,
.animation:hover #eye1 {
  animation: logoAnimHover 0.8s both 1;
}
#right_arm {
  transition: translate 0.5s ease;
}
.animation:hover #right_arm {
  transform-origin: center;
  transform: translate(45px, -140px) scaleY(-1);
  /* animation: logoAnimHover 0.8s both 2; */
}
/* translate(45px, -140px) rotateX(180deg)  */
/* #D {
  fill: #000fff;
} */
/* .animation:hover #D,
.animation:hover #R,
.animation:hover #A,
.animation:hover #I,
.animation:hover #C {
  animation: effect 0.8s both infinit;
} */

@keyframes effect {
  0% {
    background: linear-gradient(#008000, #00ff00);
    -webkit-background-clip: text;
  }

  100% {
    background: linear-gradient(#3ce7d7, #000fff);
    -webkit-background-clip: text;
  }
}
