.contact_btn_home {
  position: fixed;
  margin-top: 20px;
  right: 0;
  background-color: #00a0ff;
  z-index: 100000;
  height: 200px;
  width: 45px;
  border-radius: 10px 0 0 10px;
}

.contact-btn-container {
  position: relative;
}

.contact-us-btn-text {
  color: white;
  transform: rotate(90deg);
  white-space: nowrap;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1.9rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact_btn_home,
.contact-us-btn-text {
  transition: all 0.3s ease-in-out;
}
.contact-btn-all:hover .contact_btn_home {
  background-color: white;
}
.contact-btn-all:hover .contact-us-btn-text {
  color: #00a0ff;
}

@media(max-width: 600px) {
    .contact_btn_home{
        /*  */
        height: 19vh;
    }
    .contact-us-btn-text{
      margin-top: 10px;
        font-size: 17px;
    }
}