/* CONTACT FORM MAIN HEADLINES */
.contact_main_body {
  margin-top: -6rem;
  background-color: rgba(10, 25, 49, 0.8);
  position: relative;
  z-index: 1;
  height: auto;
  padding-top: 6.5rem;
  padding-bottom: 0.3rem;
}
.contact_main_body2 {
  background-color: rgba(10, 25, 49, 0.8);
  height: auto;
  padding-bottom: 0.1rem;
}
.contact_headline_div {
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 1px;
}
.contact_headline {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  padding-top: 40px;
  color: #57b8ff;
  letter-spacing: 0.5em;
}
.contact_fillform_div {
  position: relative;
  margin-top: 0.5%;
  margin-bottom: 4%;
  text-align: left;
  width: 44vw;
}
.contact_topic {
  text-align: center;
}
.contactusline1,
.contactusline2 {
  height: 3px;
  width: 29.5%;
  margin-top: 40px;
  background-color: azure;
}
.contactus_seperator {
  display: flex;
  justify-content: center;
  margin: auto;
}
/* CONTACT FULL FORM */

.contact-linkedin{
  text-decoration: none;
}

.contact_form_details {
  margin: 7vw 10vw;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* CONTACT LEFT FORM */

input[type="text"],
input[type="email"] {
  width: 115%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.contact_name_email_div {
  width: 101.6%;
  display: flex;
  justify-content: space-between;
}
.contact_form_name,
.contact_form_email {
  margin: 5px;
  width: 20vw;
}
.contact_form_textarea_div {
  margin-left: 5px;
  width: 110%;
  height: 220%;
}
/* button{
  margin-top: 10px;
}*/

.contact_para {
  color: white;
}
.contact_sendbtn {
  margin-top: 10px;
  background-color: #2196f3;
  padding: 10px;
  color: white;
  border: 2px solid #2196f3;
  border-radius: 20px;
  width: 30%;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.contact_joinnowbtn {
  margin-top: 10px;
  background-color: #0d8bf1;
  padding: 10px;
  color: white;
  font-size: 1.1rem;
  border: 2px solid #0d8bf1;
  border-radius: 20px;
  width: 30%;
  transition: all 0.3s ease;
}
.contact_sendbtn:hover,
.contact_joinnowbtn:hover {
  border: 2px solid rgb(0, 162, 255);
  background-color: rgb(31, 30, 30);
  color: rgb(237, 240, 241);
  font-weight: bolder;
  padding: 10px;
  cursor: pointer;
}
.contact_textarea {
  height: 130px;
  width: 97%;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
  font: 1rem "Raleway", sans-serif;
}
form {
  font-size: 1rem;
}

/* CONTACT RIGHTSIDE DETAILS */
.contact_information_div {
  display: flex;
  flex-direction: column;
  /* margin-right: -10px; */
  /* justify-content: space-between; */
}
.contact_info_email_div,
.contact_info_phone_div,
.contact_info_linkedin_div {
  display: flex;
  align-items: center;
  height: 10vh;
}
.forces2 {
  margin-top: 0px;
}
.contact_infoemail,
.contact_infophone,
.contact_infolink {
  margin-left: 30px;
}
.contact_fillform {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  text-align: left;
  margin-left: 8px;
}
.contact_info_headline {
  font-family: "Rowdies", cursive;
  font-size: 1.5rem;
  color: #2196f3;
  white-space: nowrap;
  margin-bottom: 4vh;
}
img {
  font-size: 25px;
}
.contactusheading {
  font-family: "Rowdies", cursive;
  font-size: 2.5rem;
  padding: 20px;
  font-family: SansationBold;
}
.fillform2 {
  font-size: 1.3rem;
}
.contact_info_subhead {
  font-family: "Raleway", sans-serif;
  font-size: medium;
  display: inline;
  position: relative;
}
.contact_para {
  position: relative;
  width: 40vw;
  margin: 5px;
  margin-bottom: 20px;
}
.contact_all_information {
  font-family: "Open Sans", sans-serif;
  font-size: medium;
}

.jointeam_img {
  box-sizing: border-box;
  width: 350px;
  height: 250px;
  margin-right: 3rem;
  margin-top: -6rem;
}

/* MEDIA QUERIES */
@media (max-width: 940px) {
  .contact_fillform_div {
    width: 81vw;
  }
  [data-aos-delay] {
    transition-delay: 0s !important;
  }
  .contact_headline_div {
    margin-top: 1.3rem;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
  }
  .contact-para {
    width: 55vw;
  }
  .contact_name_email_div {
    flex-direction: column;
    margin-bottom: 8px;
    align-items: center;
  }
  .contact_form_details {
    width: auto;
    justify-content: center;
    margin-top: 30px;
  }

  .contact_form_name,
  .contact_form_email {
    width: 72vw;
    margin: 5px 0px;
  }
  .contact_form_name {
    position: relative;
    /* width: 100%; */
  }
  .contact_para{
      width: 72vw;
      text-align: center;
  }
  .contact_info_subhead {
    font-weight: 800;
  }
  .contact_form_email {
    width: 72vw;
    margin-bottom: 10px;
  }
  .contact_headline {
    font-size: 12px;
    padding-top: 20px;
    letter-spacing: 0.2rem;
    margin: 0.4rem;
  }

  .contact_information_div {
    margin: 75px 0px;
    margin-bottom: 50px;
  }
  .contact_info_headline {
    margin-bottom: 2vh;
  }
  .contactusheading {
    font-size: 1.7rem;
    white-space: nowrap;
  }
  .contact_fillform {
    font-size: 14px;
    text-align: center;
  }
  .contact_textarea {
    width: 100%;
  }
  .forces2 {
    margin-top: -6px;
  }
  .contact_form_textarea_div {
    width: 90%;
    align-items: center;
    margin: 0px;
  }
  .contact_sendbtn{
    white-space: nowrap;
  }
  .contact_joinnowbtn {
    margin-top: 18px;
    /* padding: 8px; */
    border-radius: 10px;
    width: 30vw;
  }

  .contact_info_headline {
    font-size: 1.3rem;
  }
  .join_team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fillform2 {
    font-size: 17px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 850px) and (min-width: 800px) {
  .contact_information_div {
    margin-left: 1vw;
  }
}
