.contactusouter {
  background-color: rgba(10, 25, 49, 0.9);
  position: relative;
  z-index: 1;
  top: -3rem;
  height: 100%;
}
.headingcontainer{
      position: relative;
      margin-top: 5%;
      margin-left: 13%;
      padding: 10px;
      font-size: 2rem;
}
img{
  font-size: 25px;
}
.fullform{
      margin: 4vw auto;
      width: 75%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
}

input[type="text"], input[type="email"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.leftform{
  display: flex;
  flex-direction: column;
}

.nameandemail{
  display: flex;
}

.name, .emails{
  margin: 5px;
  width: 20vw;
}

.textar{
  margin-left: 5px;
  width: 104%;
  height: 220%;
}


button{
  margin-top: 10px;
}

button:hover{
  background-color: white;
  color: rgb(0, 162, 255);
  font-weight: bolder;
  cursor: pointer;
}

.rightside{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.email, .phone, .linkedin{
  display: flex;
  align-items: center;
  height: 11vh;
}

.infoemail, .infophone, .infolink{
  margin-left: 30px;
}

.button{
  width: 40%;
}

@media(max-width: 770px)
{
  .rightside{
    margin-top: 20px;
  }
  .nameandemail{
    flex-direction: column;
  }
  .name{
    width: 60vw;
  }
  .emails{
    width: 60vw;
    margin-bottom: 10px;
  }
}
@media(max-width: 800px)
{
  .rightside{
    margin-left: 20px;
  }
}