/* CONTACT FORM MAIN HEADLINES */

.contact_headline_div{
  text-align: center;
  padding-bottom: 15px;
}
.contact_headline{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
  margin-top: 3.5rem;
  color: #57b8ff;
  letter-spacing: 0.5em;
}
.contact_fillform_div{
      position: relative;
      margin-top: 0.5%;
      margin-bottom: 2%;
      padding: 10px;
      font-size: 2rem;
      text-align: center;
}


/* CONTACT FULL FORM */

.contact_form_details{
      margin: 4vw auto;
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
}


/* CONTACT LEFT FORM */

input[type="text"], input[type="email"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.contact_name_email_div{
  display: flex;
}
.contact_form_name, .contact_form_email{
  margin: 5px;
  width: 20vw;
}
.contact_form_textarea_div{
  margin-left: 5px;
  width: 104%;
  height: 220%;
}
/* button{
  margin-top: 10px;
}
button:hover{
  background-color: white;
  color: rgb(0, 162, 255);
  font-weight: bolder;
  cursor: pointer;
} */
.contact_sendbtn{
  margin-top: 10px;
  background-color: #2196f3;
  padding: 10px;
  color: white;
  border: 10px white;
  border-radius: 20px;
  width: 30%;
}
.contact_textarea {
  height: 130px;
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
  font: 1rem "Raleway", sans-serif;
}
form {
  font-size: 1rem;
}



/* CONTACT RIGHTSIDE DETAILS */
.contact_information_div{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.contact_info_email_div, .contact_info_phone_div, .contact_info_linkedin_div{
  display: flex;
  align-items: center;
  height: 11vh;
}
.contact_infoemail, .contact_infophone, .contact_infolink{
  margin-left: 30px;
}
.contact_fillform {
  font-family: "Raleway", sans-serif;
  font-size: medium;
  color: white;
  text-align: center;
}
.contact_info_headline {
  font-family: "Rowdies", cursive;
  font-size: 1.5rem;
  color: #2196f3;
}
img{
  font-size: 25px;
}
.contact_info_subhead {
  font-family: "Raleway", sans-serif;
  font-size: medium;
  display: inline;
  position: relative;
}
.contact_all_information {
  font-family: "Open Sans", sans-serif;
  font-size: medium;
}


/* MEDIA QUERIES */
  @media(max-width: 790px)
  {
    .contact_name_email_div{
      flex-direction: column;
    }
    .contact_form_name{
      width: 60vw;
    }
    .contact_form_email{
      width: 60vw;
      margin-bottom: 10px;
    }
  }
  @media(max-width: 800px)
  {
    .contact_information_div{
      margin-left: 20px;
    }
  }
  @media(max-width: 790px)
  {
    .contact_information_div{
      margin-top: 20px;
    }
  }