.contactusouter {
  background-color: rgba(10, 25, 49, 0.9);
  position: relative;
  z-index: 1;
  top: -5rem;
  height: 700px;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}
.item6 {
  grid-area: submit;
}

.grid-container-contactus {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu menu main main right right"
    "footer footer footer footer right right"
    "submit submit submit submit submit submit";
  grid-gap: 0px;
  padding: 30px;
  margin: 0rem 0;
  width: 100%;
  padding-left: 15rem;
  padding-top: 100px;
}

input[type="text"],
select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.message-box {
  height: 100px;
  font-family: "Raleway", sans-serif;
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
  font-family: "Raleway", sans-serif;
  padding-left: 10px;
  padding-top: 10px;
}
.grid-container-contactus > div {
  padding: 20px 0;
  font-size: 30px;
}

.line {
  text-align: left;
  width: 7%;
  margin-left: 0;
  margin-top: 0;
  height: 4px;
  background-color: white;
  border: 0px;
}

.get-in-touch {
  font-family: "Rowdies", cursive;
  font-size: larger;
  margin-bottom: 1%;
}

.send-email-line {
  font-family: "Raleway", sans-serif;
  font-size: medium;
  color: white;
}

.contact-info {
  font-family: "Raleway", sans-serif;
  font-size: larger;
}

.t1 {
  font-family: "Raleway", sans-serif;
  font-size: medium;
  display: inline;
  position: relative;
  top: -4px;
  padding: 5px;
}

.img-t1 {
  font-family: "Raleway", sans-serif;
  font-size: medium;
  height: 20px;
}
.info-t1 {
  font-family: "Open Sans", sans-serif;
  font-size: medium;
}

/*     send button   */

.send-button {
  background-color: #2196f3;
  padding: 10px;
  color: white;
  border: 10px white;
  border-radius: 10px;
  width: 10%;
}

br {
  margin: 0;
}

.item4 {
  text-align: left;
  padding: 10px;
  margin: left 5px;
}

form {
  font-size: 1rem;
}

.message-box {
  font-size: 1rem;
}
.send-button {
  font-size: 1rem;
}
