* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  /* cursor: url(), auto; */
  background-color: transparent;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
