@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:wght@200&family=Roboto:wght@500&family=Rowdies&display=swap");

.achiveouter{
  /* background-color: #0A1931; */
  background-color: rgba(10, 25, 49, 0.9);
  z-index: 1;
  position: relative;
  margin-top: -10rem;
}



.lineachi2 {
  height: 3px;
  width: 28%;
  color: white;
  z-index: 30000;
  margin: auto;
  background-color: azure;
  text-align: left;
  margin-left: 0;
}

.lineachi1 {
    height: 3px;
    width: 28%;
    color: white;
    z-index: 30000;
    margin: auto;
    background-color: azure;
    text-align: left;
    margin-right: 0;
  }


.firstrowachive{
  padding-top:190px ;
  text-align: center;
}

.timeline .achievements{
  font-family: "Rowdies", cursive;
  font-size: 5rem;
}
.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 1600px;
  background: #ffffff;
  top: 60px;
  bottom: 0;
  left: 50%;
  margin-left: -2.5px;
}
.container {
  padding: 30px 60px;
  position: relative;
  background: inherit;
  width: 60%;
}
.container.left {
  left: -10%;
  
}
.container.right {
  left: 50%;
  /* text-align: right; */
}

.container::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  
  top: 54px;
  right: 40px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent #56B6FC transparent transparent;
}
.container::after {
  content: "";
  background: url("https://img.icons8.com/glyph-neue/64/57b8ff/graduation-cap.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 30px;
  right: -35px;
  z-index: 4;
  border: 4px solid;
  border-radius: 50%;
  background-color: #17202E;
  border: 5px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.container.right::before {
  left: 40px;
  border-color: transparent transparent transparent #56B6FC;
}
.container.right::after {
  left: -35px;
}
.container .content {
  padding: 1rem;
  /* opacity: 0.5; */
  background: #17202E;
  /* mix-blend-mode: multiply; */
  /* mix-blend-mode: screen; */
  position: relative;
  /* border: 5px solid #eeeeee; */
  border-radius: 20px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
  display: flex;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  /* border: 2px solid;
  border-color: aliceblue; */
}
.contents {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}
/* .container.right .content {
      border-radius: 0 500px 500px 500px;
  } */
.container .content h2 {
  margin: 10px;
  font-size: 20px;
  font-weight: normal;
  /* color: #D8E3E7; */
  color: #56B6FC;
  font-family: "Rowdies", cursive;
}

.container .content p {
  margin: 10px;
  font-size: 15px;
  line-height: 22px;
  /* color: #719FB0; */
  color: #D8E3E7;
  /* font-family: "Rowdies", cursive; */
  font-weight: bold;

}
.achievementDevicer{
  margin: auto;
  width: 300px;
  height: 4px;
  background-color: #868B8E;
  border-radius: 100px;
  /* margin: 60px auto 0; */
  margin-bottom: 50px;
}
.devicer {
  position: relative;
  /* top: 10px; */
  left: 10px;
  width: 10em;
  display: block;
  height: 2px;
  background-color: white;
  margin-top: 10px;
  border-radius: 500px;

  /* margin: 60px auto 0; */
}
.image-container {
  width: 500px;
  height: 300px; 
  /* aspect-ratio: 16/9; */
  background-size: cover;
  z-index: 100;
  
}
.image {
  
  width: 240px;
  height: 210px;
  border-radius: 20px;
  background-size: cover;
  opacity: 0.8;
}
.contents {
  display: flex;
  padding-left: 10px;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: ce;
}

/* .content:hover {
  background: rgb(0, 0, 0);
  border: 5px solid rgb(96, 147, 163);
} */
@media (max-width: 767.98px) {
  .timeline::after {
    left: 40px;
  }
  .container {
    width: 103%;
    /* padding-left: 80px;
    padding-right: 30px; */
  }
  .container::after {
    left: -35px;
  }
  .container.left {
    left: 40px;
  }
  .container.right {
    left: 40px;
  }

  .container.left::before,
  .container.right::before {
    left: 40px;
    border-color: transparent transparent transparent #e94b3c;
  }
  .container .content h2 {
    font-size: 8px;
    line-height: 8.2px;
  }
  .container .content p {
    font-size: 6px;
    line-height: 6.2px;
  }
  .image {
    width: 150px;
    height: 100px;
    border-radius: 20px;
  }
}
