@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:wght@200&family=Roboto:wght@500&family=Rowdies&display=swap");

.achievements_section {
  background-color: rgba(10, 25, 49, 0.8);
  z-index: 1;
  position: relative;
  margin-top: -10rem;
}
.achievements_header {
  padding-top: 10.4rem;
  text-align: center;
}
.achievements_headline_div {
  margin-top: 2rem;
}
.achievements_thought {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  padding-top: 40px;
  color: #57b8ff;
  letter-spacing: 0.5em;
}
.achievements_heading {
  display: flex;
  margin: auto;
  justify-content: center;
}

.achievements_line_1,
.achievements_line_2 {
  height: 3px;
  width: 29%;
  color: white;
  /* z-index: 30000; */
  margin: auto;
  background-color: azure;
  margin-left: 0;
}

.achievements_line_1 {
  margin-right: 0%;
  margin-left: auto;
}

.achievements_line_2 {
  margin-left: 0;
}

.achievements_title {
  font-family: "Rowdies", cursive;
  font-size: 2.5rem;
  padding: 20px;
  white-space: nowrap;
  font-family: SansationBold;
}

.achievements_timeline .achievements {
  font-family: "Rowdies", cursive;
  font-size: 5rem;
}
.achievements_timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}
.achievements_timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  height: auto;
  background: #ffffff;
  top: 60px;
  bottom: 0;
  left: 50%;
  margin-left: -2.5px;
  z-index: -1;
}
.achievement_container {
  padding: 30px 60px;
  margin-right: 0;
  position: relative;
  background: inherit;
  width: 60%;
}
.achievement_container.left {
  left: -10%;
}
.achievement_container.right {
  left: 50%;
}

.achievement_container::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 54px;
  right: 40px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent #56b6fc transparent transparent;
}
.achievement_container::after {
  content: "";
  background: url("../../Assets/trophy.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 30px;
  right: -35px;
  z-index: 4;
  border: 4px solid;
  border-radius: 50%;
  background-color: #17202e;
  border: 5px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.achievement_container.right::before {
  left: 40px;
  border-color: transparent transparent transparent #56b6fc;
}
.achievement_container.right::after {
  left: -35px;
}
.achievement_container .achievement_content_container {
  padding: 1rem;
  background: #17202e;
  position: relative;
  border-radius: 20px;
  display: flex;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.achievements_achievement_content_containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.achievement_container .achievement_content_container h2 {
  margin: 10px;
  font-size: 20px;
  font-weight: normal;
  color: #56b6fc;
  font-family: "Rowdies", cursive;
}

.achievement_container .achievement_content_container p {
  margin: 10px;
  font-size: 15px;
  /* line-height: 22px;  */
  color: #d8e3e7;
  /* font-weight: bold; */
}
.achievement_devicer {
  position: relative;
  left: 11px;
  width: 85%;
  height: 2px;
  background-color: white;
  margin-top: 10px;
}
.achievement_image_conainer {
  width: 500px; /*auto  */
  height: auto;
  background-size: cover;
  z-index: 100;
}
.achievement_image {
  width: 240px;
  height: 210px;
  border-radius: 20px;
  background-size: cover;
  opacity: 0.8;
  object-fit: cover;
  /* box-shadow: 0 0 10px 0.3px #fff; */
}
.achievements_achievement_content_containers {
  display: flex;
  padding-left: 10px;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: ce;
}

@media (max-width: 767.98px) {
  .achievements_timeline::after {
    left: 40px;
  }
  .achievement_container {
    width: 90%;
    padding: 21px 27px;
  }
  .achievement_container::after {
    left: -20px;
    width: 30px;
    height: 30px;
    background-size: 20px;
  }
  .achievement_container.right::after {
    left: -20px;
  }
  .achievement_container.left {
    left: 40px;
  }
  .achievement_container.right {
    left: 40px;
  }

  .achievement_container.left::before,
  .achievement_container.right::before {
    top: 45px;
    left: 22px;
    border: 5px solid;
    border-color: transparent transparent transparent #56b6fc;
  }
  .achievement_container .achievement_content_container h2 {
    font-size: 9px;
    line-height: 10px;
    font-weight: 0;
  }
  .achievement_container .achievement_content_container p {
    font-size: 0.5rem;
    line-height: 14px;
  }
  .achievement_image {
    width: 130px;
    height: 100px;
    border-radius: 8px;
  }
  .achievement_container .achievement_content_container {
    padding: 0.1rem 1rem;
  }
  .achievements_title {
    margin: 1rem;
    padding: 0;
    font-size: 1.7rem;
  }
  .achievements_thought {
    letter-spacing: 0.2rem;
    padding-top: 10px;
    font-size: 12px;
    margin: 0.4rem;
  }
  .achievement_devicer {
    position: relative;
    left: 11px;
    width: 80%;
    height: 1px;
    background-color: white;
    margin-top: -6px;
    margin-bottom: -8px;
  }
}
