.nav-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.nav {
  display: flex;
  align-items: center;
  background-color: white;
  width: 75%;
  justify-content: space-around;
  border-radius: 0 0 30px 30px;
  position: sticky;
}

li {
  list-style: none;
  padding: 0.2rem 0rem;
  font-size: 1.5rem;
}

.nav-link .icon {
  padding: 0 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
  position: relative;
  top: -20px;
  padding-bottom: 0;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 1;
}

.nav-link .title {
  position: relative;
  top: -50px;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
  /* opacity: 0; */
}

.nav-link {
  color: #00a0ff;
  text-decoration: none;
}

.nav-item {
  width: 20%;
  height: auto;
  text-align: center;
}

.nav-item .nav-link:hover .icon {
  transform: translateY(60px);
  color: white;
  /* opacity: 0; */
}

.nav-item .nav-link:hover .title {
  transform: translateY(60px);
  opacity: 1;
}

.nav-link .achievements {
  padding: 0;
}

.nav-link::after {
  content: " ";
  display: inline-block;
  height: 80px;
  width: 80px;
  background-color: #00a0ff;
  position: absolute;
  transform: translate(-50px, -82px);
  border-radius: 50%;

  transition: all 0.3s ease;

  opacity: 0;
  border: 10px solid black;
}

.nav-link:hover:after {
  transform: translate(-50px, -30px);
  opacity: 1;
}

.active::after {
  transform: translate(-50px, -30px);
  opacity: 1;
}

.active .title {
  transform: translateY(60px);
  opacity: 1;
}

.active .icon {
  transform: translateY(60px);
  color: white;
}

.nav-container {
  transform: scale(0.7);
  position: relative;
  top: -12px;
  z-index: 22;
}
