/* Footer */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
} 

.footer{
    position:static;
    height: 50vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.1)));
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  
    z-index: 1;
    -webkit-backdrop-filter: blur(0.5rem);
            backdrop-filter: blur(0.5rem);
}

.contact{
    text-align: center;
    font-size: 30px;
    color: rgb(240, 239, 239);
    margin-top: -2rem;
    margin-left: 49rem;
}
.footer-links{
display: flex;
width: 16%;
justify-content: space-between;
align-items: center;
position: relative;
top: 60%;
left: 85%;
transform: translate(-50%,-160%);
}

.footer-link{
color: #00A0FF;
font-size: 2rem;
position: relative;
left: -1.5rem;
}

.footer-link::after{
content: '';
display: inline-block;
width: 4rem;
height: 4rem;
background-color: #ffffff;
position: absolute;
left: -0.5rem;
top: -0.5rem;
z-index: -1;
border-radius: 50%;
}
  
.footer .copywrite {
color: white;
font-family: "poppins",Arial, Helvetica, sans-serif;
font-size: 0.75rem;
position: relative;
top: 9.3rem;
left: -0.6rem;
text-align: center;
}
.footer .footertitle{
    box-sizing: border-box;
    text-decoration: #ffffff;
    font-size: 25px;
    margin-top: -3.5rem;
    margin-left: 4rem;
}
.footer .footertitle p{
    color: white;

}
.footerhr{
    width: 7%;
}
.Menu{
    text-align: left;
    margin-top: -15.1%;
    margin-left: 56%;
    font-size: 20px;
    color: white;
    line-height: 34px;
}
.Menu .headmenu{
    margin-bottom: 0.8%;
    font-size: 30px;
    line-height: 70px;
}
