html, body {
    font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.our-team-title {
    text-align: center;
    margin-top: 10rem;
    font-size: 4rem;
    width: fit-content;
    display: block;
    border-bottom: 5px solid #ffffff;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 3rem;
}

.leads {
    height: 70vh;
    background-color: #a09da6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.leads .lead1{
    width: 20vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px;
}
.leads .lead1 .image, .leads .lead2 .image {
    border-radius: 10px;
    height: 260px;
}
.leads .lead1 .content, .leads .lead2 .content {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 100px;
}


.leads .lead2 {
    width: 20vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px;
    align-items: flex-end;
}
.leads .lead2 .content {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 130px;
}
.team-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 60%;
    height: 52vh;
    width: fit-content;
    transform: translate(-50%,0);
    margin-bottom: 13rem;
    z-index: 111;
}
.our-team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: left;
    z-index: 111;
}
.our-team h1{
    text-align: left;
}
.team-section .team-container {
    position: relative;
    z-index: 111;
}
.team-section .team-container .arrows {
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    bottom: 0;
    top: 0;
    margin-top: 550px;
    margin-left: 170px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}
.team-section .team-container .arrows:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 80, 0.05);
}
.team-section .team-container .arrows.right {
    right: 10%;
    margin-top: 549px;
    margin-left: 0;
    margin-right: 580px;
}
.team-section .team-container .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.team-section .team-container .inner .t-image {
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.team-section .team-container .inner .t-image ul {
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 360px;
    width: 340px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 10, 0.25);
}
.team-section .team-container .inner .t-image ul li {
    height: 360px;
    width: 340px;
    list-style-type: none;
    
}
.team-section .team-container .inner .t-image ul li img {
    height: 360px;
    width: 340px;
    border-radius: 20px;
    object-position: top;
}
.team-section .team-container .inner .t-content {
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
}
.team-section .team-container .inner .t-content ul {
    position: absolute;
    overflow: hidden;
    width: 500px;
    height: 400px;
}
.team-section .team-container .inner .t-content ul li {
    width: 500px;
    height: 400px;
    color: #2e293c;
    display: flex;
    align-items: center;
    position: absolute;
    opacity: 0;
}
.team-section .team-container .inner .t-content ul li .content-inner {
    width: 200px;
}
.team-section .team-container .inner .t-content ul li .content-inner .quote {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
    color: white;
}
.team-section .team-container .inner .t-content ul li .content-inner .name {
    font-size: 18px;
    line-height: 28px;
    color:aqua;
    font-weight: 600;
}
.team-section .team-container .inner .t-content ul li .content-inner .title {
    font-size: 18px;
    line-height: 28px;
    color: #a09da6;
}