.loader_section {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right top, rgb(0, 1, 88), rgb(0, 0, 0));
  /* background-size: 400% 400%; */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: Gradient 8s ease infinite;
  overflow: hidden;
  flex-direction: column;
}
#load_head {
  /* transform: translateY(-3000px); */
  transition: all 2s ease-in-out;
  animation: head 2s ease 1 forwards;
}
#load_eye1 {
  /* transform: translateX(-3000px); */
  opacity: 0;

  transition: all 2s ease-in-out;
  animation: eye1 0.3s 2s ease 1 forwards;
}
#load_eye2 {
  /* transform: translateX(3000px); */
  opacity: 0;

  transition: all 2s ease-in-out;
  animation: eye2 0.3s 2s ease 1 forwards;
}
#load_left_arm {
  /* transform: translateX(-3000px); */
  transition: all 2s ease-in-out;
  animation: leftarm 2s ease 1 forwards;
}
#load_right_arm {
  /* transform: translateX(3000px); */
  transition: all 2s ease-in-out;
  animation: rightarm 2s ease 1 forwards;
}
#load_body {
  /* transform: translateY(3000px); */
  transition: all 2s ease-in-out;
  animation: body 2s ease 1 forwards;
}
#load_D {
  opacity: 0;
  transition: all 0.1s 2s ease-in-out;
  animation: name 0.1s 2.4s ease 1 forwards;
}
#load_R {
  opacity: 0;
  transition: all 0.1s 2s ease-in-out;
  animation: name 0.1s 2.5s ease 1 forwards;
}
#load_A {
  opacity: 0;
  transition: all 0.1s 2s ease-in-out;
  animation: name 0.1s 2.6s ease 1 forwards;
}
#load_I {
  opacity: 0;
  transition: all 0.1s 2s ease-in-out;
  animation: name 0.1s 2.7s ease 1 forwards;
}
#load_C {
  opacity: 0;
  transition: all 0.1s 2s ease-in-out;
  animation: name 0.1s 2.8s ease 1 forwards;
}
@keyframes head {
  0% {
    transform: translateY(-3000px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes eye1 {
  0% {
    /* transform: translateX(-3000px); */
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    /* transform: translateX(0px); */
    opacity: 1;
  }
}
@keyframes eye2 {
  0% {
    /* transform: translateX(3000px); */
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    /* transform: translateX(0px); */
    opacity: 1;
  }
}
@keyframes leftarm {
  0% {
    transform: translateX(-3000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes rightarm {
  0% {
    transform: translateX(3000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes body {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes name {
  0% {
    /* transform: translateX(3000px); */
    opacity: 0;
  }
  /* 25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  } */
  100% {
    /* transform: translateX(0px); */
    opacity: 1;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.loading_text span {
  font-family: draic;
  font-size: 6vw;
  opacity: 0;
}
.loading_text span:nth-child(1) {
  animation: glow 0.4s ease-in 3s forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(2) {
  animation: glow 0.4s ease-in 3.1s forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(3) {
  animation: glow 0.4s ease-in 3.2s forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(4) {
  animation: glow 0.4s ease-in 3.3s forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(5) {
  animation: glow 0.4s ease-in 3.4s forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(6) {
  animation: glow 0.4s ease-in 3.5s forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(7) {
  animation: glow 0.4s ease-in 3.6s forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(8) {
  animation: glow 0.4s ease-in 3.7s forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(9) {
  animation: glow 0.4s ease-in 3.8s forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(10) {
  animation: glow 0.4s ease-in 3.9s forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(11) {
  animation: glow 0.4s ease-in 4s forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(12) {
  animation: glow 0.9s ease-in 4.1s infinite forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(13) {
  animation: glow 0.9s ease-in 4.2s infinite forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(14) {
  animation: glow 0.9s ease-in 4.3s infinite forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(15) {
  animation: glow 0.9s ease-in 4.4s infinite forwards,
    flicker 0.3s ease-in infinite forwards;
}
.loading_text span:nth-child(16) {
  animation: glow 0.9s ease-in 4.5s infinite forwards,
    flicker 0.3s ease-in infinite forwards;
}
@keyframes glow {
  0% {
    opacity: 0;
    left: -1em;
  }
  50% {
    opacity: 0.5;
    left: 0;
  }
  100% {
    opacity: 1;
    left: 1em;
  }
}
@keyframes flicker {
  0% {
    text-shadow: 0px 0px 10px #c3ec1f;
  }

  50% {
    text-shadow: 0px 0px 10px #ffffff;
  }
  100% {
    text-shadow: 0px 0px 10px #00c3ff;
  }
}
