.testimonial-section-container {
  background-color: #454545;
  height: auto;
  padding-bottom: 50px;
}
.testimonial-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonial-heading {
  font-size: 1.5rem;
  font-family: SansationBold;
  word-spacing: 3px;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 20px;
  margin-top: 30px;
}
.underline {
  width: 247px;
  height: 12px;
  background-color: #ffbf4b;
  display: block;
  position: absolute;
  bottom: 0px;
  z-index: -1;
}
.testimonial-para {
  word-spacing: 5px;
  color: rgb(114, 114, 114);
  font-family: SansationLight;
  padding-left: 24px;
}
.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
  height: 50vh;
}

.carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
  background-size: cover;
  border-radius: 20px;
}

.carousel .slide img {
  width: 100px !important;
  border-radius: 50%;
  background-size: cover;
}

.myCarousel {
  /* background: #fafafa; */
  margin-top: -6%;
  /* width: 54%; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  /* border: 1px solid #ddd; */
  height: 350px;
}
.carousel .slide img {
  margin-top: 20px;
}
.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  /* bottom: -4%; */
}

.myCarousel h3 {
  color: rgb(255, 255, 255);
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
  margin-top: 20px;
  font-family: SansationBold;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-top: 20px;
  font-family: SansationLight;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: SansationBold;
  max-height: 67px;
  position: relative;
  margin-top: 50px;
  width: 100%;
}

.myCarousel p:before {
  content: "“";
  color: #aaaaaa5d;
  font-size: 260px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  position: absolute;
  left: -30px;
  top: 20px;
}

.myCarousel p:after {
  content: "”";
  color: #aaaaaa5d;
  font-size: 260px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 0;
  position: absolute;
  right: -30px;
  top: 150px;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #fffbfb !important;
  outline: 0;
}
.control-dots {
  z-index: 2;
}
.carousel.carousel-slider .control-arrow {
  background: rgb(157, 231, 60) !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 28%;
  color: #222;
  /* left: 20px; */
}
.carousel.carousel-slider .control-arrow {
  margin: 20px;
}
.carousel .slide {
  background-color: transparent !important;
  border-radius: 20px;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #000000;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000000;
}

.testimonial-card-container {
  background-color: #222;
  border-radius: 20px;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    /* background: #fafafa; */
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    /* border: 1px solid #ddd; */
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}
