/* BASIC STYLING */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins",'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

h1{
  color: aliceblue;
}

.App{
  position: sticky;
  background: linear-gradient(to right bottom,rgb(0, 1, 78),rgb(0, 0, 0));
}

/* Landing page */

.landing-slide{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
  padding: 0 10rem;
}

.draic-logo{
  height: 30vh;
}

.text{
  font-weight: 800;
  font-size: 4rem;
  width: 50%;
  /* font-family: "orbitron"; */
}


/* NAV BAR */


.nav-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.nav{
  display: flex;
  align-items: center;
  background-color: white;
  width: 70%;
  justify-content: space-around;
  border-radius: 0 0 30px 30px;
  position: sticky;
}

li{
  list-style: none;
  padding: 0.2rem 0rem;
  font-size: 1.5rem;
}

.nav-link .icon{
  padding: 0 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
  position: relative;
  top: -20px;
  padding-bottom: 0;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 1;
}

.nav-link .title{
  position: relative;
  top: -50px;
  transition: all 0.3s ease;
  opacity: 0;
}

.nav-link{
  color: #00A0FF;
  text-decoration: none;
}

.nav-item{
  width: 20%;
  height: auto;
  text-align: center;
}

.nav-item .nav-link:hover .icon{
  transform: translateY(60px);
  color: white;
  /* opacity: 0; */
}

.nav-item .nav-link:hover .title{
  transform: translateY(60px);
  opacity: 1;
}

.nav-link .achievements{
  padding: 0;
}

.nav-link::after{
  content: " ";
  display: inline-block;
  height: 80px;
  width: 80px;
  background-color: #00A0FF;
  position: absolute;
  transform: translate(-50px,-82px);
  border-radius: 50%;

  transition: all 0.3s ease;
  
  opacity: 0;
  border: 10px solid black;
}

.nav-link:hover:after{
  transform: translate(-50px,-30px);
  opacity: 1;
}

.active::after{
  transform: translate(-50px,-30px);
  opacity: 1;
}

.active .title{
  transform: translateY(60px);
  opacity: 1;
}

.active .icon{
  transform: translateY(60px);
  color: white;
}

.nav-container{
  transform: scale(0.7);
  position: relative;
  top: -12px;
  z-index: 22;
}

/* PARTICLES */

.paricles{
  position: sticky;
  width: 100%;
}

/* PROJECTS */

/* html {
  box-sizing: border-box;
  font-size: 62.5%;
} */


.title2{
  font-family: raleway-semibold,raleway,sans-serif;
  font-size: 6rem;
  
}
.title2 {
  overflow: hidden;
  text-align: left;
  color: #00A0FF;
  
}
.title2:before,.title2:after {
  background-color: #ffffff;
  content: "";
  display: inline-block;
  height: 6px;
  position:relative;
  vertical-align:super;
  width: 60%;
  margin-top: 5%;
  
}
.title2:before {
  right: 2.5em;
  margin-left: -57%;
}
.title2:after {
  left: 0.5em;
  margin-right: -10%;
}

.projects {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: none;
}

.grid {
  display: grid;
  width: 114em;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.grid-item {

  border-radius: 3rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.281);
  transition: 0.2s;
  margin: 5rem 3rem;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  transform: scale(1.1);
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5);
}

.card-img1 {
  display: block;
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: top;
}

.card-img2 {
  display: block;
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: bottom;
}

.card-img3 {
  display: block;
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: top;
}

.card-content {
  padding: 3rem;
  background-color: #ffffff;
}

.card-header {
  font-size: 2.5rem;
  font-weight: 500;
  color: #00A0FF;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
  width: 100%;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  text-align: center;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #00A0FF;
  background-color: white ;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

/* .card-btn:hover,
.card-btn:active {
background-color: #c2cffc;
color: white;
} */

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 70em) and (min-width: 40em) {
  .projects {
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
}

.projects{
  height: fit-content;
  z-index: 5;
}

.background{
  border-radius: 20px;
  transform: scale(0.6);
  z-index: 5;
}

/* FOOTER */

.footer{
  position:static;
  left: 0;
  bottom: 0;
  height: 12vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));

  z-index: 1;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}

.footer-links{
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 60%;
  left: 51%;
  transform: translate(-50%,-170%);
}

.footer-link{
  color: #00A0FF;
  font-size: 2rem;
  position: relative;
  left: -1.5rem;
}

.footer-link::after{
  content: '';
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-color: #ffffff;
  position: absolute;
  left: -0.5rem;
  top: -0.5rem;
  z-index: -1;
  border-radius: 50%;
}

.footer .copywrite {
  color: white;
  font-family: "poppins",Arial, Helvetica, sans-serif;
  font-size: 1rem;
  position: relative;
  top: -1rem;
  left: -0.6rem;
  text-align: center;
}


/* ///////////////// Depatment ////////////////// */

.department-title{
  text-align: center;
  margin-top: 5rem;
  color: #00A0FF;
  font-size: 3rem;
  z-index: 6;
}

.department-container{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  flex-wrap: wrap;
  margin: 5rem 0 10rem 0;
  z-index: 6;
}

/*//////////////  Profile Card  ///////////////*/
.profile-card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 10px 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    flex: 0 0 22%;
    margin: 1rem 1rem;
    height: 45vh;
    /* z-index: 6; */
}
.profile-card:hover{
  background-color: #2760a0;
  box-shadow: 0px 0px 10px 0px #3869a0;
  z-index: 3;
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  max-width: 50%;
}

.profile-card .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    height: 100%;
    width: 100%;
    margin: 4rem 0;
    z-index: 6;
}


.profile-card .text img{
    height: 150px;
    border-radius: 50%;
    margin-bottom:10px;
    position: relative;
    top: -50px;
    z-index: 6;
}

.profile-card .text h3{
  color: white;
    font-size: 20px;
    font-weight: 1000;
}

.profile-card .text p{
    color:white;
    font-size: 15px;
    padding: 20px 0 10px 0;
}


.profile-card .links{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.profile-card .links .ul {
  position: relative;
  display: flex;
}

.profile-card .links .li {
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}

.profile-card .links .fa{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}

.profile-card .links .fa:hover{
  background: #03a9f4;
  color: #fff;
}