/* BASIC STYLING */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins",'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

h1{
  color: aliceblue;
}

.App{
  position: sticky;
  background: linear-gradient(to right top,rgb(0, 1, 88),rgb(0, 0, 0));
}

/* Landing page */

.landing-slide{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 14rem ;
  margin-bottom: 16.6rem;
  padding: 0 10rem;
}

.draic-logo{
  height: 35vh;
}

.text{
  font-weight: 800;
  font-size: 5rem;
  width: 60%;
  /* font-family: "orbitron"; */
}


/* NAV BAR */


.nav-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.nav{
  display: flex;
  align-items: center;
  background-color: white;
  width: 70%;
  justify-content: space-around;
  border-radius: 0 0 30px 30px;
  position: sticky;
}

li{
  list-style: none;
  padding: 0.2rem 0rem;
  font-size: 1.5rem;
}

.nav-link .icon{
  padding: 0 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
  position: relative;
  top: -20px;
  padding-bottom: 0;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 1;
}

.nav-link .title{
  position: relative;
  top: -50px;
  transition: all 0.3s ease;
}

.nav-link{
  color: #00A0FF;
  text-decoration: none;
}

.nav-item{
  width: 20%;
  height: auto;
  text-align: center;
}

.nav-item .nav-link:hover .icon{
  transform: translateY(60px);
  color: white;
  /* opacity: 0; */
}

.nav-item .nav-link:hover .title{
  transform: translateY(60px);
  opacity: 1;
}

.nav-link .achievements{
  padding: 0;
}

.nav-link::after{
  content: " ";
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #00A0FF;
  position: absolute;
  transform: translate(-50px,-82px);
  border-radius: 50%;
  transition: all 0.3s ease;
  opacity: 0;
  margin-top: 33px;
  margin-left: 25px;
  border: 5px solid rgb(0, 0, 0);

}

.nav-link:hover:after{
  transform: translate(-50px,-30px);
  opacity: 1;
}

.active::after{
  transform: translate(-50px,-30px);
  opacity: 1;
}

.active .title{
  transform: translateY(60px);
  opacity: 1;
}

.active .icon{
  transform: translateY(60px);
  color: white;
}

.nav-container{
  transform: scale(0.7);
  position: relative;
  top: -12px;
  z-index: 22;
}

/* PARTICLES */

.paricles{
  position: sticky;
  width: 100%;
}

/* PROJECTS */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}


.title2{
  font-family: raleway-semibold,raleway,sans-serif;
  overflow: hidden;
  bottom:8rem;
  text-align: left;
}
.title2:before,.title2:after {
  background-color: #ffffff;
  content: "";
  display: inline-block;
  height: 6px;
  position:relative;
  vertical-align:super;
  width: 75%;
  margin-top: 5%;
  
}
.title2:before {
  right: 2.5em;
  margin-left: -57%;
}
.title2:after {
  left: 2em;
  margin-right: -10%;
}

.projectsp {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
}

.grid {
  display: grid;
  width: 70em;
  grid-row-gap: 0;
  grid-template-rows: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.grid-item {

  border-radius: 3rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.281);
  transition: 0.2s;
  margin: 5rem 3rem;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  transform: scale(1.05);
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5);
}

.card-img1 {
  display: block;
  width: 100%;
  height: 45rem;
  object-fit: cover;
  object-position: top;
}

.card-img2 {
  display: block;
  width: 100%;
  height: 45rem;
  object-fit: cover;
  object-position: bottom;
}

.card-img3 {
  display: block;
  width: 100%;
  height: 45rem;
  object-fit: cover;
  object-position: top;
}

.card-content {
  padding: 3rem;
  background-color: #ffffff;
}

.card-header {
  font-size: 3.5rem;
  font-weight: 500;
  color: #00A0FF;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
  width: 100%;
}

.card-text {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  text-align: center;
  opacity: 0;
}
.card:hover .card-text{
  opacity: 1;
  transition: all 1s ease 0s;
}
.card-btn {
  display: block;
  width: 40%;
  padding: 1.5rem;
  margin-left: 180px;
  font-size: 2rem;
  text-align: center;
  color: #ff4322;
  background-color: white ;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
background-color: #00A0FF;
color: white;


}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 70em) and (min-width: 40em) {
  .projects {
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
}

.projects{
  z-index: 5;
  height: 80vh;
  margin: 10rem;
}

.background{
  transform: scale(0.7);
  z-index: 5;
}

/* FOOTER */

.footer{
  position:static;
  left: 0;
  bottom: 0;
  height: 12vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));

  z-index: 1;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}

.footer-links{
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 70%;
  left: 51%;
  transform: translate(-50%,-170%);
}

.footer-link{
  color: #00A0FF;
  font-size: 2rem;
  position: relative;
  left: -1.5rem;
}

.footer-link::after{
  content: '';
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-color: #ffffff;
  position: absolute;
  left: -0.2rem;
  top: -0.2rem;
  z-index: -1;
  border-radius: 50%;
}

.footer .copywrite {
  color: white;
  font-family: "poppins",Arial, Helvetica, sans-serif;
  font-size: 1rem;
  position: relative;
  top: -1rem;
  left: -0.6rem;
  text-align: center;
}


/* ///////////////// Department ////////////////// */

.department-title{
  text-align: center;
  margin-top: 5rem;
  color: #00A0FF;
  font-size: 3rem;
  z-index: 6;
}

.department-container{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  flex-wrap: wrap;
  margin: 5rem 0 10rem 0;
  z-index: 6;
}

/*//////////////  Profile Card  ///////////////*/
.profile-card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    flex: 0 0 22%;
    margin: 1rem 1rem;
    height: 43vh;
    /* z-index: 6; */
}
.profile-card:hover{
  background-color: #2760a0;
  box-shadow: 0px 0px 10px 0px #3869a0;
  z-index: 3;
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  max-width: 50%;
}

.profile-card .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    height: 100%;
    width: 100%;
    margin: 2rem 0;
    z-index: 6;
}


.profile-card .text img{
    height: 150px;
    border-radius: 50%;
    margin-bottom:10px;
    position: relative;
    top: 0px;
    z-index: 6;
    margin-bottom: 2rem;
}

.profile-card .text h3{
  color: white;
    font-size: 20px;
    font-weight: 1000;
}

.profile-card .text p{
    color:white;
    font-size: 15px;
    text-align: center;
    padding: 20px 0 10px 0;
}


.profile-card .links{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.profile-card .links .ul {
  position: relative;
  display: flex;
}

.profile-card .links .li {
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}

.profile-card .links .fa{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}

.profile-card .links .fa:hover{
  background: #03a9f4;
  color: #fff;
}

/* ABOUT */

:root {
  --clr-primary-400: 263 55% 52%;
  --clr-secondary-400: 217 19% 35%;
  --clr-secondary-500: 219 29% 14%;
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 210 46% 95%;
  --clr-neutral-300: 0 0% 81%;

  --ff-primary: "Barlow Semi Condensed", sans-serif;

  --fw-400: 500;
  --fw-700: 600;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
}


/* Box sizing rules */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */



/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

/* Set core root defaults */


/* Set core body defaults */

/* body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
} */

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* img,
picture {
  max-width: 100%;
  display: block;
} */

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* body {
  margin:auto;
  display: grid;
  place-content: center;
  min-height: 100vh;

  font-family: var(--ff-primary);
  font-weight: var(--fw-400);

  background-color: black;
}

 */

/* utilities */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.bg-primary-400 {
  background: hsl(var(--clr-primary-400));
}
.bg-secondary-400 {
  background: linear-gradient(#292828,black);
}
.bg-secondary-500 {
  background: hsl(var(--clr-secondary-500));
}

.bg-neutral-100 {
  background: hsl(var(--clr-neutral-100));
}

.bg-black{
  background: black;
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.text-secondary-400 {
  color: hsl(var(--clr-secondary-400));
}
.border-primary-400 {
  border: 3px solid #38eaf7;
}

/* components */
.grid-col-span-2{
    grid-row:span 2
}
.aboutmain{
  display: grid;
  gap:2em;
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.testimonial-grid {
  display:grid;
  column-gap: 2em;
  grid-template-columns: 1fr 1fr;

}

.row2{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
}


.testimonial {
  font-size: var(--fs-400);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.testimonial.quote {
  background-image: url(" ");
  background-repeat: no-repeat;
  background-position: top right 10%;
}

.testimonial img {
  width: 1.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.testimonial .name {
  margin-top: 2%;
  font-size: 35px;
  font-weight: var(--fw-400);
  line-height: 1;
}
.position{
  font-size: 25px;
  opacity: 0.5;
}
.subscript{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(44, 189, 51);
  font-size: 30px;
  opacity: 0.5;
}


.testimonial .position {
  font-size: var(--fs-300);
}

.testimonial > p:first-of-type {
  font-size: var(--fs-500);
  line-height: 1.2;
}

.testimonial > p:last-of-type {
  opacity: 0.7;
}

.about-title{
margin-top: 40px;
padding-left: 15px;
font-size: 50px;
color:white;
text-align: center;
line-height: 1.5cm;
font-weight: var(--fw-400);
}
.about-text{
text-align: center;
font-size: 20px;
font-weight: var(--fw-400);
line-height: 1;
padding: 10px 20px 20px 20px;
color: white;
}


.dept-name{
  display: inline;
  font-size: 16px;
  line-height: 0.1;
}

.dept-title{
  margin-top: 50px;
  padding-left: 15px;
  font-size: 50px;
  color:white;
  text-align: center;
  font-weight: var(--fw-400);
}
.dept-grid{
  display: grid;
  gap:2em;
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
  
  grid-template-columns: 1fr 1fr 1fr ;
    
}
.dept-grid-box{
  block-size: 300px;
  padding: 2rem;
  border-radius: 1.2rem;
  border-style: solid 4px;
  border-color: rgb(89, 233, 238);
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

 
.dept-content{
  font-size: 15px;
  padding: 15px 15px 15px 15px;
}
.dept-img{
  margin: 0px;
  max-width: 40px;
}
.dept-grid-box:hover {
  transform: translateY(-0.9%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  border-color: white;
}

/* ACHIEVEMENTS */

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
  margin-left: 0;
}

/* Contact */
  

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: submit; }

.grid-container-contactus {
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'menu menu main main right right'
  'footer footer footer footer right right'
  'submit submit submit submit submit submit';
  grid-gap: 0px;
  padding: 30px;
  margin: 10rem 0;
  margin-top: 5rem;
  width: 100%;
  padding-left: 15rem;
}

input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }

  .message-box{
      height: 100px;
      font-family: 'Raleway', sans-serif;
      width: 95%;
      border: 1px solid #ccc;
      border-radius: 10px;
      resize: none;
      font-family: 'Raleway', sans-serif;
      padding-left: 10px;
      padding-top: 10px;

  }
.grid-container-contactus > div {
  padding: 20px 0;
  font-size: 30px;
}

.line{
    text-align: left;
    width: 7%;
    margin-left: 0;
    margin-top: 0;
    height: 4px;
    background-color: white;
    border: 0px;
}

.get-in-touch{
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    margin-bottom: 1%;
}

.send-email-line{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    color: white;
}

.contact-info{
    font-family: 'Raleway', sans-serif;
    font-size: larger;
}

.t1{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    display: inline;
    position: relative;
    top:-4px;
    padding: 5px;
}

.img-t1{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    height: 20px;
}
.info-t1{
    font-family: 'Open Sans', sans-serif;
    font-size: medium;

}

/*     send button   */

.send-button{
  background-color: #2196F3;
  padding: 10px;
  color: white;
  border: 10px white;
  border-radius:10px ;
  width: 10%;
}

br{
  margin: 0;
}

.item4{
  text-align: left;
  padding: 10px;
  margin: left 5px ;
}

form{
  font-size: 1rem;
}

.message-box{
  font-size: 1rem;
}
.send-button{
  font-size: 1rem;
}

