.teacher {
    background-color: rgba(5, 34, 71, 0.9);
    z-index: 100;
}

.cflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    column-gap: 6rem;
}
.teacherpic{
    width: 30rem;
    height: 22rem;
    border-radius: 20px;
    margin-left: 2rem;
    margin-top: -4rem;
}

.seperator {
    display: flex;
    margin: auto;
}
.lineaboutus2 {
    height: 3px;
    width: 41%;
    color: white;
    z-index: 30000;
    margin: auto;
    background-color: azure;
    text-align: left;
    margin-left: 0;
}

.lineaboutus1 {
    height: 3px;
    width: 41%;
    color: white;
    z-index: 30000;
    margin: auto;
    background-color: azure;
    text-align: left;
    margin-right: 0;
}
.teacherpara{
  color: #e7f2f8;
  font-size: 1.6rem;
  padding: 20px 0;
  margin-top: -3.5rem;
}
